@import url('https://fonts.googleapis.com/css2?family=Caudex&family=Merriweather:wght@700&family=Noto+Serif&family=PT+Serif&family=Source+Serif+Pro:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

 /* header section  */
header{
    text-align: center;
    background-color: rgb(179, 185, 125);
    font-family: 'Caudex', serif;
    padding:0.5%;
    margin: 1%;
    background: linear-gradient(hsl(75, 26%, 45%), hsl(85, 41%, 22%));
}


/* main content */
body{
    background: rgb(179, 185, 125);
    border:30px solid black;
    font-family:'PT Serif', serif;
}
#main {
    width:100%;   
    padding:15px;
    border-radius:5px;
}


/* image  */
#img1-div {
    margin:auto;   
}

#img1 {
    display: block;
    max-width:100%;
    margin: auto;
    border:10px solid darkolivegreen;       
}

/* life journey */
#text{
    text-align:center;
}
#tribute-info {
    margin: 2% 4%;
    padding: 1%;
    background-color: rgb(166, 166, 85);
}


/* literary works */
#literary-works-info {
    margin: 2% 4%;
    background-color: rgb(166, 166, 85);
    padding: 1%;
}
.works-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    padding:3%;
}


/* awards section */
#awards {
    margin: 2% 4%;
    background-color: rgb(166, 166, 85);
    padding: 1%;
}
.awards-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    padding:3%;
}

#img2 {
    width:400px;
    height: 200px;
    border: 10px solid darkolivegreen;
    
}

/* video section */
.videos{
    margin: 2% 3%;
    background-color: rgb(166, 166, 85);
    padding: 1%;
}
.videos-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    padding: 10px;
}
.videos-col{
    padding: 20px;
}


/* more information */
.more-info{
    margin: 2% 4%; 
    margin-bottom: 5%;
    background-color: rgb(166, 166, 85);
    padding: 1%;
}

.more-row{
    width:100%;
}
.more-link{
    text-align:center;
}

/* footer section */
footer{
    float: right;
    background-color: olive;
    margin-top: -20px;
}
